$primary-color: #5ECE7B;
$active-color: rgb(67, 184, 67);
$second-color: #1D1F22;
$disabled-color: #A6A6A6;
@import "./vendor/normalize.scss";
@import './fonts/fonts.scss';
@import './components/App/App.scss';
@import './components/Header/Header.scss';
@import './components/Currency/Currency.scss';
@import './components/Category/Category.scss';
@import './components/ListProductCards/ListProductCards.scss';
@import './components/ProductCard/ProductCard.scss';
@import './components/PrimaryButton/PrimaryButton.scss';
@import './components/ButtonSize/ButtonSize.scss';
@import './components/CartOverlay/CartOverlay.scss';
@import './components/CartItemCard/CartItemCard.scss';